body{
    background-repeat: no-repeat;
    margin: 0;
    text-align: center;
    background-image:url("taro-pumps-cropping-seasons-2.jpg");
    background-size: cover;
    font-size: 20px;
}
.a{
    position: relative;
    text-align: center;
}
.b{
    font-size: 23px;
    color: aqua;
}